In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
HC = pd.read_excel("ASHTURR5.xlsx")
SC = pd.read_excel("ASGTURR5.xlsx")

In [2]:
HC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6032 entries, 0 to 6031
Columns: 118 entries, IDCNTRY to SCOPE
dtypes: float64(108), int64(10)
memory usage: 5.4 MB

HC is the home context data. This is a questionnaire filled in by the parents of each student. It contains crucial information on the immigration status of students and the languages they speak.

In [3]:
SC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6032 entries, 0 to 6031
Columns: 155 entries, IDCNTRY to SCOPE
dtypes: float64(129), int64(26)
memory usage: 7.1 MB

SC is the Student Context data which is a questionnaire filled in by the students themselves as well as some totals on their achievement in the test. As we can see there are 6032 children who took part in this assessment in Turkey.

Let's look at the ages these children came to the country. ASBH02B 1: Younger than 3 years old; 2: 3 to 5 years old; 3: 6 to 7 years old; 4: 8 years old or older

In [4]:
number_immigrant_children = HC[HC["ASBH02B"]< 6.0].shape[0]
print(number_immigrant_children)

227

This is about 30 more than Germany but the Turkey sample size is bigger - 6032 kids, compared to 4611 in Germany.

Now I will merge the two datasets together for fuller comparison potential.

In [5]:
df = pd.merge(HC, SC, on='IDSTUD', how='inner')

In [11]:
df['ASBH02B'].value_counts()

6.0    5366
1.0      89
2.0      70
3.0      53
9.0      31
4.0      15
Name: ASBH02B, dtype: int64

In [8]:
selected_columns = ["IDSTUD","ASDAGE","ASBH02B"]

In [9]:
# Get the integer positions of the selected columns
selected_columns_positions = [df.columns.get_loc(col) for col in selected_columns]

# Print the first 10 rows of the selected columns
print(df.iloc[:10, selected_columns_positions])

     IDSTUD  ASDAGE  ASBH02B
0  50010601   10.17      6.0
1  50010602    9.42      6.0
2  50010603    9.50      6.0
3  50010604    9.58      6.0
4  50010605    9.58      6.0
5  50010607   10.00      6.0
6  50010608    9.92      6.0
7  50010609    9.50      6.0
8  50010610    9.92      6.0
9  50010611    9.92      6.0

How many children spoke Turkish before they started school? ASBH03A (1 is yes, 2 is no)

In [10]:
df['ASBH03A'].value_counts()

1.0    5080
2.0     461
9.0      83
Name: ASBH03A, dtype: int64

In [12]:
def populate_column(row):
    if row['ASBH02B'] == 1:
        return 0
    elif row['ASBH02B'] == 2:
        return 3
    elif row['ASBH02B'] == 3:
        return 6
    elif row['ASBH02B'] == 4:
        return 8
    else:
        return None  # Or any default value

# Apply the function to each row
df['MINAGEARRIVAL'] = df.apply(populate_column, axis=1)

In [15]:
df['MINAGEARRIVAL'].value_counts()

0.0    89
3.0    70
6.0    53
8.0    15
Name: MINAGEARRIVAL, dtype: int64

In [17]:
df['ASDAGE'].round().value_counts()

10.0    5092
9.0      535
11.0     369
12.0      27
14.0       4
8.0        2
13.0       2
99.0       1
Name: ASDAGE, dtype: int64

In [18]:
df['rounded_ages'] = df['ASDAGE'].round()